@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/** Design
    
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;

    Color - 1: #111111;
    Color - 2: #2b2b2b;
**/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #2b2b2b;
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: underline;
    color: #00e;
    font-weight: 400;
}

.social a {
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 15px;
}

/** intro section **/

.intro-section .top-bar .tag .img {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    letter-spacing: 4px;
    color: #2b2b2b;
    text-transform: uppercase;
    line-height: 1;
}

.intro-section .top-bar .tag .img::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 12px;
    border-radius: 100%;
    background: #ff2f63;
}

@media(max-width: 380px) {
    .intro-section .top-bar .tag {
        position: relative;
        right: 20px;
    }
}

.intro-section .content .intro-text h2 {
    font-size: 62px;
    line-height: 5rem;
    font-weight: 700;
    color: #111111;
    margin-top: 100px;
}

.intro-section .content img {
    width: 100%;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

@media(max-width: 320px) {
    .intro-section .top-bar .tag {
        position: relative;
        right: 40px;
    }

    .intro-section .content .intro-text h2 {
        font-size: 52px;
        line-height: 5rem;
    }
}

.intro-section .content .intro-text h2 .highlight {
    background: #2b2b2b;
    color: #ffffff;
}

.intro-section .content .intro-text p.tags {
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
    font-weight: 400;
}

.intro-section .inspire p {
    font-size: 1.75rem;
    color: #2b2b2b;
}

.intro-section .inspire p.text {
    font-size: 1.75rem;
}

.intro-section .inspire p.owner {
    font-size: 1.2rem;
    font-weight: 700;
}

/** end intro section **/

/** footer section **/

.footer-section {
    background: #f9f9f9;
}

.footer-section .content h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.22222rem;
    line-height: 2.94444rem;
    font-style: normal;
    color: #2b2b2b;
}

@media(max-width: 580px) {
    .footer-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-section .content h2 {
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
}

@media(max-width: 320px) {
    .footer-section .content h2 {
        font-size: 1.5rem;
    }
}

/** end footer section **/